node_modules
.pytest_cache
.terraform
.terraform.tfstate.lock.info
*.tfstate.backup
credentials
.pytest_cache

*.tfstate
*.tfstate.*

# Python bytecode and caches
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/


.terraform/
.terraform.lock.hcl